mat-list-item:hover
{
    background-color: #D1C4E9
}

.container
{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    place-content: center;
}

.result
{
    width: 100%;
}

.sortButton
{
    display: flex;
    place-content: center;
    padding-left: 30rem;
}

.contact
{
    width: 20rem;
    border-radius: 9999px;
}

.backButton
{
    padding-top: 3rem;
}