<div class="signup">
  <mat-form-field appearance="outline" hideRequiredMarker="true">
    <mat-label>Nome utente</mat-label>
    <mat-icon matPrefix>person</mat-icon>
    <input
      matInput
      title="username"
      [formControl]="username"
      required
    />
    <mat-error *ngIf="username.invalid">{{
      getErrorMessage("username")
    }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" hideRequiredMarker="true">
    <mat-label>Email</mat-label>
    <mat-icon matPrefix>email</mat-icon>
    <input
      matInput
      title="email"
      [formControl]="email"
      required
    />
    <mat-error *ngIf="email.invalid">{{ getErrorMessage("email") }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" hideRequiredMarker="true">
    <mat-label>Numero di telefono</mat-label>
    <mat-icon matPrefix>phone</mat-icon>
    <input
      matInput
      title="phone number"
      [formControl]="phoneNumber"
      required
    />
    <mat-error *ngIf="phoneNumber.invalid" hideRequiredMarker="true">{{
      getErrorMessage("phoneNumber")
    }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" hideRequiredMarker="true">
    <mat-label>Password</mat-label>
    <mat-icon matPrefix>password</mat-icon>
    <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
    <input
      matInput
      title="password"
      [type]="toggle.type"
      [formControl]="password"
      (focus)="showDetails = !showDetails"
      (blur)="showDetails = !showDetails"
      required
    />
    <mat-password-strength #passwordComponent [password]="password.value || ''">
    </mat-password-strength>

    <mat-error *ngIf="password.invalid">{{
      getErrorMessage("password")
    }}</mat-error>
  </mat-form-field>
  <mat-password-strength-info
    *ngIf="showDetails"
    [minCharsCriteriaMsg]="
      'Contiene almeno ' + passwordComponent.min + ' caratteri'
    "
    [passwordComponent]="passwordComponent"
    lowerCaseCriteriaMsg="Contiene almeno un carattere minuscolo"
    upperCaseCriteriaMsg="Contiene almeno un carattere maiuscolo"
    digitsCriteriaMsg="Contiene almeno un numero"
    specialCharsCriteriaMsg="Contiene almeno un carattere speciale"
  >
  </mat-password-strength-info>

  <mat-form-field appearance="outline" hideRequiredMarker="true">
    <mat-label>Conferma password</mat-label>
    <mat-icon matPrefix>password</mat-icon>
    <input
      matInput
      title="repeated password"
      [type]="isRepeatedPasswordHidden ? 'password' : 'text'"
      [formControl]="repeatedPassword"
      required
    />
    <mat-error *ngIf="repeatedPassword.invalid">{{
      getErrorMessage("repeatedPassword")
    }}</mat-error>
    <button
      mat-icon-button
      matSuffix
      (click)="isRepeatedPasswordHidden = !isRepeatedPasswordHidden"
      [attr.aria-label]="'Nascondi password'"
      [attr.aria-pressed]="isRepeatedPasswordHidden"
    >
      <mat-icon>{{
        isRepeatedPasswordHidden ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
  </mat-form-field>

  <button
    mat-fab
    class="signup-button"
    color="primary"
    aria-label="Accedi"
    (click)="signup()"
    extended
  >
    <mat-icon>add</mat-icon>
    Registrati
  </button>
</div>
