button
{
    background-color: white;
    color: black;
}

.buttons
{
    width: 15rem;
    display: flex;
    place-content: space-around;
}

mat-icon
{
    color: black;
}

.exit
{
    color: red;
}
