<div class="buttons">
  <ng-template
    [ngIf]="
      pageService.pageIsOn === 'list' || pageService.pageIsOn === 'search'
    "
  >
    <button
      mat-fab
      color="basic"
      [routerLink]="['/newContact']"
      aria-label="Aggiungi Contatto"
      (mouseenter)="isButtonFocussed = true"
      (mouseleave)="isButtonFocussed = false"
      [extended]="isButtonFocussed"
    >
      <mat-icon>person_add</mat-icon>
      {{ isButtonFocussed ? "Aggiungi" : "" }}
    </button>
  </ng-template>

  <ng-template
    [ngIf]="
      pageService.pageIsOn === 'edit' ||
      pageService.pageIsOn === 'add' ||
      pageService.pageIsOn === 'details' ||
      pageService.pageIsOn === 'settings'
    "
  >
    <button
      mat-fab
      color="basic"
      (click)="openDialog()"
      aria-label="Lista Contatti"
      (mouseenter)="isButtonFocussed = true"
      (mouseleave)="isButtonFocussed = false"
      [extended]="isButtonFocussed"
    >
      <mat-icon>list</mat-icon>
      {{ isButtonFocussed ? "Lista" : "" }}
    </button>
  </ng-template>

  <ng-template [ngIf]="pageService.pageIsOn === 'login'">
    <button
      mat-fab
      color="basic"
      aria-label="Registrati"
      [routerLink]="['/signup']"
      (mouseenter)="isButtonFocussed = true"
      (mouseleave)="isButtonFocussed = false"
      [extended]="isButtonFocussed"
    >
      <mat-icon>add_circle</mat-icon>
      {{ isButtonFocussed ? "Crea account" : "" }}
    </button>
  </ng-template>

  <ng-template
    [ngIf]="pageService.pageIsOn === 'signup' || pageService.pageIsOn === '404'"
  >
    <button
      mat-fab
      color="basic"
      aria-label="Login"
      [routerLink]="['/login']"
      (mouseenter)="isButtonFocussed = true"
      (mouseleave)="isButtonFocussed = false"
      [extended]="isButtonFocussed"
    >
      <mat-icon>person</mat-icon>
      {{ isButtonFocussed ? "Accedi" : "" }}
    </button>
  </ng-template>

  <ng-template
    [ngIf]="
      pageService.pageIsOn === 'list' || pageService.pageIsOn === 'details'
    "
    class="accountButton"
  >
    <button
      mat-fab
      color="basic"
      [matMenuTriggerFor]="menu"
      (menuOpened)="isMenuOpen = true"
      (menuClosed)="isMenuOpen = false"
      (mouseenter)="isAccountFocussed = true"
      (mouseleave)="isAccountFocussed = false"
      [extended]="isAccountFocussed || isMenuOpen"
    >
      <mat-icon>account_box</mat-icon>
      {{ isAccountFocussed || isMenuOpen ? "Account" : "" }}
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="accountSettings">
        <mat-icon>settings</mat-icon>
        Impostazioni account
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon color="warn">exit_to_app</mat-icon>
        <span class="exit">Esci</span>
      </button>
    </mat-menu>

    <mat-menu #accountSettings="matMenu">
      <button mat-menu-item [routerLink]="['/account/settings/username']">
        <mat-icon>person</mat-icon>
        Cambia nome utente
      </button>
      <button mat-menu-item [routerLink]="['/account/settings/email']">
        <mat-icon>alternate_email</mat-icon>
        Cambia email
      </button>
      <button mat-menu-item [routerLink]="['/account/settings/phoneNumber']">
        <mat-icon>phone</mat-icon>
        Cambia numero di telefono
      </button>
      <button mat-menu-item [routerLink]="['/account/settings/password']">
        <mat-icon>password</mat-icon>
        Cambia password
      </button>
    </mat-menu>
  </ng-template>
</div>
